:root {
    --ck-light-bg-color: #ff6464;
    --ck-light-text-color: #fff;
    --ck-dark-bg-color: #0f1f44
}
* {
    box-sizing: border-box;
}

.father-component{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    background-color: var(--ck-light-bg-color);
}
.main-Component{
    color: #000;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.login-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-button:active {
    background-color: #004080;
}